@model IEnumerable<EmployeeSharp.Domain.Entities.Colaborador>

<h1>Lista de Colaboradores</h1>

<form asp-controller="Colaboradores" asp-action="Index" method="get">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="searchInput">Pesquisar por Nome:</label>
        <input type="text" id="searchInput" name="searchString" class="form-control" value="@ViewData["CurrentFilter"]" />
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colaborador in Model)
            {
                <tr>
                    <td>@colaborador.Nome</td>
                    <td>@colaborador.Email</td>
                    <td>@colaborador.Telefone</td>
                    <td class="cargo-name" data-cargo-id="@colaborador.CargoId"></td>
                    <td>
                        <button class="btn btn-info edit-button" data-id="@colaborador.Id">Editar</button>
                        <button class="btn btn-danger delete-button" data-id="@colaborador.Id" data-nome="@colaborador.Nome">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">Nenhum colaborador encontrado.</div>
}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- O conteúdo do modal será carregado dinamicamente -->
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- O conteúdo do modal será carregado dinamicamente -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Edit button click event
            $(".edit-button").click(function () {
                var id = $(this).data("id");
                $.get('/Colaboradores/Edit/' + id, function (data) {
                    $('#editModal .modal-content').html(data);
                    $('#editModal').modal('show');
                });
            });

            // Handle edit form submission
            $("#editModal").on('submit', '#editColaboradorForm', function (event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    type: form.attr("method"),
                    data: form.serialize(),
                    success: function (response) {
                        location.reload();
                    },
                    error: function (response) {
                        console.error("Erro ao salvar as alterações.");
                    }
                });
            });

            // Delete button click event
            $(".delete-button").click(function () {
                var id = $(this).data("id");
                $.get('/Colaboradores/Delete/' + id, function (data) {
                    $('#deleteModal .modal-content').html(data);
                    $('#deleteModal').modal('show');
                });
            });

            // Handle delete confirmation
            $(document).on('click', '.confirmDelete', function () {
                var id = $(this).data("id");
                $.ajax({
                    url: '/Colaboradores/DeleteConfirmed',
                    type: 'POST',
                    data: { id: id },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        if (data.success) {
                            $('#deleteModal').modal('hide');
                            location.reload();
                        } else {
                            alert("Erro ao deletar o colaborador.");
                        }
                    },
                    error: function (error) {
                        console.error(error);
                        alert("Erro ao deletar o colaborador.");
                    }
                });
            });

            $(document).on('click', '#closeDeleteModal', function () {
                $('#deleteModal').modal('hide');
            });

            function FindCargoName(cargoId) {
                var cargoName = "";

                $.ajax({
                    url: '/Cargos/GetCargoName/' + cargoId,
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        cargoName = data;
                    },
                    error: function () {
                        console.error("Erro ao buscar o nome do cargo.");
                        cargoName = "Cargo não cadastrado";
                    }
                });

                return cargoName;
            }

            // Set cargo names
            $('.cargo-name').each(function () {
                var cargoId = $(this).data('cargo-id');
                $(this).text(FindCargoName(cargoId));
            });
        });
    </script>
}